
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

}
#header{
    background-color: red;
    height: 12vh;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    
}
#content{
    box-sizing: border-box;

    display: grid;
    height:25vh;
    
}
#left-side{
    background-color: burlywood;
    height:25vh;
    order: 1;
}
#content{
    background-color:lawngreen;
    order: 2;
}
#right-side{
    background-color: blue;
    height: 25vh;

    order: 3;
}
#footer{
    background-color: orange;
    height: 15%;
}


@media only screen and (min-width: 800px){
    body{
        width: 100vw;
        height: 100vh;
    }
    #header{
        background-color: bisque;
        height: 20vh;
    }
    #body{
        height: 62vh;
        display: grid;
        /* 1fr takes up remainder of width */
        grid-template-columns: 20% 1fr 20%;
        
    }
    #left-side{
        background-color: aqua;
        order: 1;
    }
    #content{
        height: 65vh;
        background-color:red;
        order: 2;
    }
    #right-side{
        background-color: purple;
        order: 3;
    }
    #footer{
        background-color: goldenrod;
        height: 20vh;
    }
}

