*{  
    box-sizing: border-box;
    border: 2px solid black;
}
#header {
    background-color: bisque;
}
#content {
    order: 1;
    background-color: red;
}
#left-side {
    order: 2;
    background-color: green;
}
#right-side{
    order: 3;
    background-color: purple;
}
#footer{
    background-color: goldenrod;
    
}
/* Header -> Content -> Left -> Right -> Footer */ 

@media screen and (min-width: 600px) {

    #body{
        display: flex;
    }
    #content {
        background-color: blue;
    }
}